{% extends 'base.html' %}

{% block title %}Formula 1 Q1 Report{% endblock %}

{% block content %}
    <h1>Formula 1 - Qualifying Q1 Results</h1>
    <ul>
        {% for driver in drivers %}
            <li>{{ driver.position }}. {{ driver.name }} | {{ driver.team }} | {{ driver.lap_time }}</li>
            {% if driver.eliminated %}
                <li>------------------------------------ELIMINATED------------------------------------</li>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}